
.size {
    font-size: 20px;
    margin-top: 0%;  
    font-weight: 600;
}
.color{
    color: rgb(10, 126, 14);
}
.personal{
    font-size: 19px;
    text-align: justify;
}
/* .education card{
    width: 100%;
    height: 100%;
    margin: 20px;
}
/* .education{
    display: flex;
    height: 500px;
    width: auto;
} */ 