

body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@media screen and (max-width: 950px) {
    body{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
  
   }